@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-primary;
  color: $text-primary;
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
}

/* Custom Scrollbar for a more integrated look */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $bg-secondary;
}

::-webkit-scrollbar-thumb {
  background: $bg-tertiary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $bg-hover;
}